<h2>Edit your review for <%=@game.name%></h2>

<form action="/reviews/<%=@review.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <label>Title: </label>
  <input type="text" name="review[title]" required value="<%=@review.title%>">
    <label>Star Rating:</label>
  <select class="star-rating" name="review[star_rating]" required>
        <option value="<%=@review.star_rating%>">Current Rating: <%=@review.star_rating%></option>
        <option value="5">Excellent (5 Stars)</option>
        <option value="4">Very Good (4 stars) </option>
        <option value="3">Average (3 Stars)</option>
        <option value="2">Poor(2 Stars)</option>
        <option value="1">Terrible(1 Star)</option>
  </select>
  <p>
  <label>Content: </label>
  <textarea rows="4" cols="50" name="review[content]"required><%=@review.content%></textarea>
  <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
  </p>
</form>
<form action="/reviews/<%=@review.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Review">
</form>
