<h2>All Reviews</h2>
<h3><u>Check out the reviews submitted by other RTG community members!</u></h3>
  <style>.center {
  margin-left: auto;
  margin-right: auto;
  }
    </style>
    <table class="center">
        <tr>
          <th>Review Title</th>
          <th>Game Title</th>
          <th>Star Rating</th>
          <th>Date Posted</th>
          <th>Submitted By:</th>
        </tr>
      <% @reviews.each do |review| %>
        <tr>
          <td><a href="/reviews/<%=review.id%>"><%=review.title%></a></td>
          <td><%@games.each do |game| if game.id == review.game_id %> <%=game.name%><%end%><%end%></td>
          <td><%=review.star_rating%></td>
          <td><%=review.date.strftime '%m/%d/%Y'%></td>
          <td><%@users.each do |reviewer| if reviewer.id == review.user_id %> <%=reviewer.username%><%end%><%end%></td>
        </tr>
      <%end%>
      </table>
    
      