<h2><%= @review.title %> - <%= @review.date.strftime '%m/%d/%Y' %></h2>
<body>
<p><%=@review.content%></p>



<% if check_owner(@review) %>
  <form action="/reviews/<%=@review.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

  <a href="/reviews/<%=@review.id%>/edit">Edit this Review</a>
<%end %>
</body>